/* Hi there, I am Marco Del Olmo and this is my OpenClassRooms Project 03-OhMyFood */



* {
    box-sizing: border-box;
    font-family: "roboto", "sans-serif"
    }

a {
    color: inherit;
    text-decoration: none;   
    }


/* !!!!!!!!!!!!!!!!!!!!!!! --- HEADER --- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.logo{
    margin-top: 30px;
    height: 62px;
    text-align: center;
    }

.logo-omf{
    height: 36px;   
    }

.location{
    height: 50px;
    align-items: center;    
    justify-content: center;
    background-color: #EAEAEA;
    display: flex;
    box-shadow: 0px 5px 5px -3px #00000026 inset;
    }

.fa-location-dot{
    color: #353535;
    padding-right: 10px;
    }

.location-text{
    border: none;
    color: #353535;
    }

input[type= "search"], textarea{
    border: none;
    background-color: #EAEAEA;
    font-size: 16px;
    color: #353535;
    }


/* !!!!!!!!!!!!!!!!!!!!!!! --- MAIN --- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.header1{
    padding-top: 40px;
    text-align: center;
    background-color: #F6F6F6;
    padding-bottom: 50px;
    }

.headertext{
    margin-bottom: 60px;
    }

.button1{
    width: 250px;
    height: 60px;
    border-radius: 25px;
    background-color: #FF79DA;
    background-image: linear-gradient(to bottom right, #FF79DA, #9356DC );
    box-shadow: 0 2px 5px 5px rgba(0,0,0,.08);
    border: none;
    color: white;    
    font-size: 16px;
    padding: 20px 20px;
    }

.button1:hover{
    background-image: linear-gradient(to bottom right, #fb8cdc, #a070db );
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.238);
    }



/* !!!!!!!!!!!!!!!!!!!!!!! --- Fonctionnement  --- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.fonctionnement{
    padding-left: 30px;
    }

.steps{
    display: flex;
    flex-direction: column;
    }

.step{
    min-width: 260px;
    padding: 20px 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.124);
    background-color: #F6F6F6;
    }

.step:hover{
    background-color: #f0e9f9;
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.238);
    }

.circle {
    border-radius: 50px;
    font-size: 14px;
    color: #F6F6F6;
    background-color: #9356DC;
    padding: 4px 8px;
    margin-left: -32px;
    margin-right: 20px;
    }

.fa-store{
    color: #9356DC;
    }
/* !!!!!!!!!!!!!!!!!!!!!!! --- Restaurants --- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.restaurants{
    background-color: #F6F6F6;
    padding-bottom: 70px;
    padding-top: 50px;
    padding-left: 30px;
    }

.restos{
    padding: 10px;
    gap: 20px;        
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.card-resto{
    box-shadow: 0px 3px 15px 0px #0000001A;
    border-radius: 25px 25px 25px 25px;
    min-width: 340px;
    max-width: 340Px;
    margin-bottom: 25px;
    background-color: white;
    position: relative;
    top: 0;
    left: 0;
    }

.card-img{
    width: 100%;
    max-height: 230px;
    border-radius: 20px 20px 0px 0px;
    display: block;
    object-fit: cover;
    position: relative;  
    top: 0;  
    left: 0;
    }

.nouveau{
    display: inline-block;
    padding: 4px 5px;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 0px #00000026;
    color: #008766;
    background-color:#99E2D0;
    font-weight: 600;
    position: absolute;
    top: 12px;
    right: 12px;
    }
      
.card-text{
    padding-bottom: 30px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 55px;
    display: flex;
    justify-content: space-between;
    }

.texto{
    line-height: 4px;
    }

.position-h{
    
    position: absolute;
    font-size: 30px;
    }
        
.hearts{
    align-items: top;
    padding-top: 10px;
}

.heart-full{
    opacity: 0;
    transition-property: all;
    transition-duration: 1s ;
    } 
        
.heart-full:hover{ 
    opacity: 1;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(#9356DC, #FF79DA);
    color: transparent;
    }





/* !!!!!!!!!!!!!!!!!!!!!!! --- FOOTER --- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.footer{
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    background-color: #353535;
    color: white;
    }
.footer-menus{
    margin-top: 50px;
}

h5{
    font-weight: 400;
    font-size: 24px;
    font-family: Shrikhand, cursive;
    margin: 0;
    }

.links-footer{
    list-style: none;
    padding-left: 0;
    line-height: 30px;
    font-size: 16px; 
    }

.fa-solid{
    padding-right: 7px;
    }
    
/* !!!!!!!!!!!!!!!!!!!!!!! --- PAGES -MENUS --- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.arrow-left{
    
    font-size: 45px;
}
.menu-container{
        background-color: #F6F6F6;
        margin-bottom: 60px;
    }

.menu-items{
    min-width: 260px;
    padding: 20px 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.124);
    background-color: #F6F6F6;
    }

    .button2{
        
        width: 250px;
        height: 60px;
        border-radius: 25px;
        background-color: #FF79DA;
        background-image: linear-gradient(to bottom right, #FF79DA, #9356DC );
        box-shadow: 0 2px 5px 5px rgba(0,0,0,.08);
        border: none;
        color: white;    
        font-size: 16px;
        padding: 10px 50px 10px 50px;
        
        }
        .button2center{
           text-align: center; 
        }

        .button2:hover{
            
            background-image: linear-gradient(to bottom right, #fb8cdc, #a070db );
            box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.238);
            transition-property: all;
            transition-duration: 2s;
            }

/* !!!!!!!!!!!!!!!!!!!!!!! --- RESPONSIVE --- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */



@media screen and (max-width: 1440px) and (min-width: 1025px) {}
@media screen and (max-width: 1024px) and (min-width: 768px) {}
@media screen and (max-width: 767px) {}