/* Hi there, I am Marco Del Olmo and this is my OpenClassRooms Project 03-OhMyFood */



* {
    box-sizing: border-box;
    font-family: "roboto", "sans-serif";
    margin: 0;
    }

a {
    color: inherit;
    text-decoration: none;   
    }

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

h1{
    font-size: 24px;
    font-weight: 700;
}

h2{
    line-height: 28px;
    }

h3{
    font-family: Shrikhand;
    font-size: 28px;
    font-weight: normal;
    font-style: italic;
    }

h4{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 2px;   
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    }

h5{
    font-weight: 400;
    font-size: 18px;
    font-family: Shrikhand;
    font-style: italic;
    }

h6{
    font-weight: 300;
    font-size: 15px;
    margin: 0px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    }

.price{
    font-weight: 700;
    font-size: 15px;
    margin: 0px;
    }

p{
    margin: 0;
    }

.foncti-text{
    font-weight: 500;
    font-size: 16px;
    margin: 0px;
    }

.plato{
    font-weight: 300;
    font-size: 16px;
    font-family: roboto;
    margin-block-end: 15px;
    margin-bottom: 5px;
    }

.sub-title{    
    font-size: 18px;
    font-weight: 300;
    margin: 0px;
    padding-left: 34px;
    padding-right: 25px ;
    }

.texto1{
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 4px;
    margin: 0px;
    }

.texto2{
    display: block;
    font-size: 17px;
    font-weight: 300;
    margin: 0px;
    }



/* !!!!!!!!!!!!!!!!!!!!!!! --- HEADER --- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.logo{
    padding-top: 14px;
    padding-bottom: 13px;
    height: 62px;
    text-align: center;
    }

.logo2{
    padding-top: 14px;
    padding-bottom: 13px;
    }

.logo-omf{
    height: 29px;   
    }

.location{
    padding-left: 70px;
    height: 50px;
    align-items: center;    
    justify-content: center;
    background-color: #EAEAEA;
    display: flex;
    box-shadow: 0px 5px 5px -3px #00000026 inset;
    }

.fa-location-dot{
    color: #353535;
    padding-right: 10px;
    }

.location-text{
    border: none;
    color: #353535;
    }

input[type= "search"], textarea{
    border: none;
    background-color: #EAEAEA;
    font-size: 16px;
    font-weight: 500;
    color: #353535;
    }


/* !!!!!!!!!!!!!!!!!!!!!!! --- MAIN --- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.header1{
    padding-top: 40px;
    text-align: center;
    background-color: #F6F6F6;
    padding-bottom: 70px;
    }

.headertext{
    margin-bottom: 48px;
    
    }

.titlehome{
    font-size: 24px;
    font-weight: 700;
    padding-left: 40px;
    padding-right: 48px;
    padding-bottom: 13px;
}

.button1{
  
    border-radius: 25px;
    background-color: #FF79DA;
    background-image: linear-gradient(to bottom right, #FF79DA, #9356DC );
    box-shadow: 0 2px 5px 5px rgba(0,0,0,.08);
    border: none;
    color: white;    
    font-size: 16px;
    font-weight: 500;
    padding: 16px 22px;
    }

.button1:hover{
    background-image: linear-gradient(to bottom right, #fb8cdc, #a070db );
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.238);
    }



/* !!!!!!!!!!!!!!!!!!!!!!! --- Fonctionnement  --- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.fonctionnement{
    padding-top: 48px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 45px;
    }

.steps{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 10px;
    
    }

.step{
    min-width: 200px;
    height: 72px;
    padding: 30px 20px;
    margin-bottom: 23px;
    border-radius: 20px;
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.124);
    background-color: #F6F6F6;
    max-width: 1055px;
    }
.icon-home{
    color: #7E7E7E;
    padding-right: 17px;
    }

.fa-store{
    color: #9356DC;
    padding-right: 17px;
    }

.step:hover{
    background-color: #f0e9f9;
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.238);
    }

.circle {
    border-radius: 50px;
    font-size: 14px;
    color: #F6F6F6;
    background-color: #9356DC;
    padding: 4px 8px;
    margin-left: -32px;
    margin-right: 20px;
    }


/* !!!!!!!!!!!!!!!!!!!!!!! --- Restaurants --- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.restaurants{
    background-color: #F6F6F6;
    padding-bottom: 70px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    }

.restos{
    padding-top: 18px;
    gap: 20px;        
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.card-resto{
    box-shadow: 0px 3px 15px 0px #0000001A;
    border-radius: 25px 25px 25px 25px;
    min-width: 340px;
    width: 100%;
    object-fit: fill;   
    background-color: white;
    position: relative;
    top: 0;
    left: 0;
    max-width:800px ;
    }

.card-img{
    width: 100%;
    height: 174px;
    border-radius: 20px 20px 0px 0px;
    display: block;
    object-fit: cover;
    position: relative;  
    top: 0;  
    left: 0;
    }

.nouveau{
    width: 80px;
    height: 29px;
    display: inline-block;
    font-size: 14px; 
    font-weight: 500;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 0px #00000026;
    color: #008766;
    background-color:#99E2D0;   
    position: absolute;
    top: 15px;
    right: 15px;
    text-align: center;
    padding-top: 7px;
    }
      
.card-text{
    padding-bottom: 17px;
    padding-top: 15px;
    padding-left: 17px;
    padding-right: 55px;
    display: flex;
    justify-content: space-between;
    }

.position-h{    
    position: absolute;
    font-size: 30px;
    }
        
.hearts{
    padding-top: 10px;
    }



.heart-full{
    opacity: 0;
    transition-property: all;
    transition-duration: 1s ;
    } 
        
.heart-full:hover{ 
    opacity: 1;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(#9356DC, #FF79DA);
    color: transparent;
    }


/* !!!!!!!!!!!!!!!!!!!!!!! --- FOOTER --- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.footer{
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    background-color: #353535;
    color: white;
    }

.links-footer{
    list-style: none;
    padding-left: 0;
    padding-top: 12px;
    line-height: 27px;
    font-size: 16px;
    font-weight: 400;

    }

.footer-icon{
    padding-right: 7px;
    font-size: small;
    }



    
/* !!!!!!!!!!!!!!!!!!!!!!! --- PAGES -MENUS --- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


.logo-omf2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 29px;   
    }

.arrow-left{   
    font-size: 20px;
    position: absolute;
    padding-left: 17px;
    padding-top: 5px;
    }
    
.menu-img{
    width: 100%;
    object-fit: cover;
    height: 275px;
    }

.hearts-menu{
    padding-top: 9px;  
    }
    
.menu-container{
    position: relative;
    background-color: #F6F6F6;
    border-radius: 40px 40px 0px 0px;
    margin-top: -57px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1055px;
    }

.resto-name{
    padding-right: 60px;
    padding-top: 31px;
    display: flex;
    justify-content: space-between;
    }

.menu-type{
    padding-top: 30px;
    }

.half-border{
    border: 3px solid #99E2D0;
    width: 40px;
    }


.menu-items{ 
    margin-left: auto;
    margin-right: auto;
    max-width: 634px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-right: 20px;
    border-radius: 15px;
    background-color:white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 15px 0px #0000001A;
    overflow: hidden; 
    }

.texto-menu{
    padding: 15px 15px 15px 15px;   
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    }

.price-check{
    display: flex;
    justify-content: space-between;
    }

.price{ 
    display: flex;
    align-items: flex-end;    
    padding-bottom: 15px;
    padding-right: 15px;
    }
           
.menu-items:hover >.price-check >.green-check{ 
    opacity: 1;    
    transition: 1s;
    margin-right: -20px;
    }
    
.green-check {
    display: grid;
    place-items: center;
    border-radius: 0px 15px 15px 0px;
    padding: 20px;
    opacity: 0;
    background-color: #99E2D0;     
    margin-right: -80px;
    transition: 1s;
    }
           
.check1{
    color: white;
    font-size: 23px;
    }
 
.button2{    
    border-radius: 25px;
    background-color: #FF79DA;
    background-image: linear-gradient(to bottom right, #FF79DA, #9356DC );
    box-shadow: 0 2px 5px 5px rgba(0,0,0,.08);
    border: none;
    color: white;    
    font-size: 16px;
    padding: 16px 48px 15px 49px;
    }

.button2center{
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center; 
    }

.button2:hover{
    
    background-image: linear-gradient(to bottom right, #fb8cdc, #a070db );
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.238);
    transition-property: all;
    transition-duration: 2s;
    }

/* !!!!!!!!!!!!!!!!!!!!!!! --- RESPONSIVE Desktop --- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media screen and (min-width: 1440px){
  

.titlehome{
    font-size: 40px;
    }
h1{
    padding-left: 11%;    
    }
.steps{
    flex-direction: row;
    justify-content: center;    
    padding-top: 25px;
    padding-bottom: 5px;
    gap: 35px;    
    }
.big-icon{
    font-size: x-large;
    }
.step{
    padding-top: 22px;
    padding-bottom: 2px;
    padding-right: 90px;
    margin-bottom: 0px;
    }
.restaurants{
    padding-bottom: 100px;
    }

.resto-name{
    max-width: 634px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;    
    }
.textotop{
    padding-right:30px;
    }
.restos{
    padding-top: 28px;
    flex-direction: row;  
    justify-content: center;
    flex-wrap: wrap;  
    gap: 100px;
    }
.card-resto{
    max-width: 490px;
    background-color: white;
    position: relative;
    top: 0;
    left: 0;   
    margin-bottom: -50px; 
    }
    
.menu-type{
    max-width: 634px;
    margin-left: auto;
    margin-right: auto;
    }
.footer{
    display: flex;
    flex-direction: row-reverse;
    height: 115px;
    padding-top: 60px;
    }
.footer-logo{  
   padding-right: 60px;
   padding-left: 50px;
    }
.links-footer{  
    padding-top: 0;
    display: flex;
    flex-direction: row; 
    }
.contact{
    padding-right: 5px;
    }
.mentions{
    padding-right: 20px;
    }
.devenir{
    padding-right: 50px;
    }
.proposer{
    padding-right: 20px;
    }

}